{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<h2 style="padding-bottom: 20px;">Соотношение матрица-наполнитель</h2>
<form  method="post">
    {% csrf_token %}
    <div class="main" style="padding-right: 20px;">
    <div class="field"><label for="plotnost">Плотность, кг/м3: </label><input id="plotnost" type="number" name="plotnost" value="{{ plotnost }}"></div>
    <div class="field"><label for="modulUprugosti">Модуль упругости, ГПа: </label><input id="modulUprugosti" type="number" name="modulUprugosti" value="{{ modulUprugosti }}"></div>
    <div class="field"><label for="poverhPlotn">Поверхностная плотность, г/м2: </label><input id="poverhPlotn" type="number" name="poverhPlotn" value="{{ poverhPlotn }}"></div>
    <div class="field"><label for="modulUprugostiRast">Модуль упругости при растяжении, ГПа: </label><input id="modulUprugostiRast" type="number" name="modulUprugostiRast" value="{{ modulUprugostiRast }}"></div>
    <div class="field"><label for="prochnRast">Прочность при растяжении, МПа: </label><input id="prochnRast" type="number" name="prochnRast" value="{{ prochnRast }}"></div>
    <div class="field"><label for="shagNash">Шаг нашивки: </label><input id="shagNash" type="number" name="shagNash" value="{{ shagNash }}"></div>
    <div class="field"><label for="plotNash">Плотность нашивки: </label><input id="plotNash" type="number" name="plotNash" value="{{ plotNash }}"></div>
    <input type="submit" value="Получить прогноз">
    </div>
</form>
<div style="font-size:20px;">
    <div style="font-size:25px;"><b><text for="result">Результат</text></b></div>
    <text for="result">Соотношение матрица-наполнитель: </text> <b><text id="result" style="color: green; font-size:25px;">{{ result }}</text></b></div>
</div>
{% endblock %}