{% extends "base_generic.html" %}

{% block content %}
<form action="{% url 'taskBoard:createTask' %}" method="post">
    {% csrf_token %}
    <div class="main">
        <div class="field">
            <label>Заголовок</label>
            <input type="text" name="title" />
        </div>
        <div class="field">
            <label>Описание</label>
            <textarea name="description" cols=50px rows=10px></textarea>
        </div>
        <div class="btn">
            <button type="submit">Сохранить</button>
        </div>
    </div>
</form>
{% endblock %}